/* Container */
.create-note-container {
  max-width: 100vw;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 62em;
    
  }
  
  /* Heading */
  .create-note-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Textarea */
  .create-note-container textarea {
    width: 99%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    outline: none;
  }
  
  /* Save Button */
  .create-note-container button {
    display: block;
    width: 10%;
    padding: 10px;
    margin-top: 10px;
    background-color: #29547c;
    color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .create-note-container button:hover {
    background-color: #5e86a1;
  }
  
  /* Notes List */
  .notes-list {
    list-style: none;
    padding: 1px;
    margin-top: 20px;
    margin-right: 8px;
  }
  
  .notes-list li {
    background: #7299bd;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Delete Button */
  .notes-list li button:hover {
    background-color: #880a0a;
  }
  