/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #688bb1;
    padding: 15px 20px;
    color: white;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: rgb(202, 202, 202);
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 25em;
    gap:100px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: rgb(202, 202, 202);
    font-size: 25px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}

